/* ------------------------------------------------------------ *\
	Styles for desktop browsers
\* ------------------------------------------------------------ */

html.no-touch .nav > ul > li:hover > a:after { width: 100%; }
html.no-touch .nav > ul > li:hover > ul { opacity: 1; visibility: visible; margin-top: 0; }
html.no-touch .nav > ul > li > ul a:hover { opacity: .7; }
html.no-touch [class^="btn"]:hover { border-color: $c-light-blue; background: #fff; color: $c-light-blue; }
html.no-touch .section-subscribe .gform_footer input:hover { opacity: .7; }
html.no-touch .widget_nav ul a:hover { text-decoration: underline; }
html.no-touch .socials ul li a:hover i { color: $c-light-blue; }
html.no-touch .profile .socials ul li a:hover { background: $c-light-blue; }
html.no-touch .profile .socials ul li a:hover i { color: #fff; }
html.no-touch .nav-breadcrumbs > ul > li > a:hover { color: $c-black; }
html.no-touch .tile .tile__image a:hover { opacity: .7; }

html.no-touch input:focus,
html.no-touch textarea:focus { box-shadow: inset 0 0 5px rgba(0,0,0,.3) !important; }

html.no-touch input:focus::placeholder,
html.no-touch textarea:focus::placeholder { font-size: 0; }

html.no-touch .paging a:hover { text-decoration: none; background: $c-light-blue; color: #fff; }
html.no-touch .slider--main .slider__slide-image a:hover { opacity: .7; }
html.no-touch [class^="logo"]:hover { opacity: 0.75; }
html.no-touch .nav-filter a:hover { color: $c-light-blue; }
html.no-touch .widget.carbon_fields_menu_with_large_buttons a:hover { background: $c-light-blue; }

html.no-touch .list-listings ul > li > a:hover { box-shadow: 3px 3px 20px rgba(0,0,0,.1); }
html.no-touch .section-main .section__map .section__map-contacts a:hover { color: $c-light-blue; }
html.no-touch body .gform_wrapper .button:hover { color: $c-light-blue; background: #fff; border-color: $c-light-blue; }

html.no-touch .footer .widget_nav_menu a:hover:after { width: 100%; }
