$font-size-base:					18px;
$font-weight-base: 					400;
$line-height-base:					1.67;


$t-duration: 						0.4s;


$shell-max-width:					1170px;
$shell-gutter:						15px;


$f-awesome: 						'FontAwesome';
$f-base: 							Arial, Helvetica, sans-serif;
$f-opensans: 						'Open Sans', sans-serif;
$f-poppins: 						'Poppins', sans-serif;


$c-black: 							#2c2c2c;
$c-white: 							#fff;
$c-light-blue: 						#2991e2;
$c-blue: 							#1c3356;
$c-blue-text: 						#0b2b5a;
$c-dark-blue: 						#132239;
$c-gray: 							#656565;
$c-light-gray: 						#f7f7f7;
$c-red: 							#ff0000;


$responsive-xxs: 					479px;
$responsive-xs: 					767px;
$responsive-xs2: 					768px;
$responsive-xs3: 					600px;
$responsive-xs4: 					782px;
$responsive-sm: 					1023px;
$responsive-sm2: 					985px;
$responsive-md: 					1300px;


$breakpoint-mobile-portrait:		@media (max-width: $responsive-xxs);
$breakpoint-mobile:					@media (max-width: $responsive-xs);
$breakpoint-mobile2:				@media (max-width: $responsive-xs3);
$breakpoint-mobile3:				@media (max-width: $responsive-xs4);
$breakpoint-tablet-portrait:		@media (max-width: $responsive-sm);
$breakpoint-tablet-landscape:		@media (min-width: $responsive-xs2) and (max-width: $responsive-sm2);
$breakpoint-tablet-landscape2:		@media (max-width: $responsive-sm2);
$breakpoint-small-desktop:			@media (max-width: $responsive-md);
$retina:							@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);
